body {
    background-color: #fafafa;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.game-container {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.background {
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url('img/background.png');
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
}

.dino {
    width: 60px;
    height: 60px;
    background-image: url('img/dino.png');
    position: absolute;
    bottom: 0;
    left: 50px;
}

.cactus {
    position: absolute;
    width: 40px;
    height: 60px;
    bottom: 0;
    background-image: url('img/cactus.png');
}

.jump-button {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 20px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
